<footer class="footer">
  <small>
    © 2018. Vote.org is a 501(c)(3) registered non-profit organization and does not support or oppose any political candidate or party.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", "https://www.vote.org/contact/" %></li>
      <li><%= link_to "Newsletter", "https://www.vote.org/newsletter/" %></li>
    </ul>
  </nav>
</footer>